name: Deploy Health Wallet Demo master branch to ci
# Basics from https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/github-actions
on:
  push:
    branches:
    - master
    paths:
      - "demo-portals/**"

jobs:
  build-demo-portals:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.CONTAINER_REGISTRY }}
        username: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}
        password: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}

    - uses: azure/aks-set-context@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
        cluster-name: ${{ secrets.CLUSTER_NAME }}
        resource-group: ${{ secrets.RESOURCE_GROUP }}

    - name: Build and rollout to CI
      working-directory: demo
      run: |
        docker build . \
          -t ${{ secrets.CONTAINER_REGISTRY }}/demo-portals:$GITHUB_SHA \
          -t ${{ secrets.CONTAINER_REGISTRY }}/demo-portals:latest
        docker push ${{ secrets.CONTAINER_REGISTRY }}/demo-portals
        kubectl -n siop rollout restart deployment/demo-portals
